torch==2.7.*
torch-xla[tpu]==2.7.* ; sys_platform == "linux" and platform_machine == "x86_64"
torchvision
faster-coco-eval
pycocotools
torchmetrics[detection]
torchinfo
albumentations
matplotlib
tensorboard
pycocotools
imageio 
imageio-ffmpeg
requests
tqdm
av